<div>
    <label for="">nombre</label>
    <input type="text" [ngModel]="name" (change)="changeName($event)">
    <label for="">raza</label>
    <input type="text" [ngModel]="type" (change)="changeType($event)">
    <label for="">edad</label>
    <input type="text" [ngModel]="age" (change)="changeAge($event)">
    <label for="">foto</label>
    <img src="" alt="">
    <button (click)="createCat()">crear</button>
</div>

<div>
    <div *ngFor="let cat of cats">
        <app-data [dataCat]=cat></app-data>
        <button (click)="delete(cat)">eliminar</button>
    </div>
</div>