<div>
    <label for="">nombre</label>
    <input type="text" [ngModel]="currentCat.name" (change)="changeName($event)">
    <label for="">raza</label>
    <input type="text" [ngModel]="currentCat.type" (change)="changeType($event)">
    <label for="">edad</label>
    <input type="text" [ngModel]="currentCat.age" (change)="changeAge($event)">
    <label for="">foto</label>
    <img src="" alt="">
    <button (click)="updateCat()">actualizar</button>
</div>
